/* Your code here */
.main-content{
    display: grid;
    grid-template-columns:2.5fr 1fr;
    grid-template-areas:"main-article opinion"
}
.main__article{
    grid-area:main-article;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:0.5fr 2fr 1fr;
    grid-template-areas:
    "header header"
    "article1 video"
    "article2 article3";
    align-items:center;

}
.opinions{
    grid-area:opinion;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 2fr;
    grid-template-areas:
    "opinions"
    "operation"
    "multi-articles"

}

#main-h1{
    grid-area:header;

    font-weight:  bold;;
    font-size:25px;
    font-style: italic;
    padding-top:10px;
}
.main-2{
    grid-area:article1;
    padding:10px;

}
.main-2 >h2{
    font-weight:bold;
    font-size:20px;
    padding: 20px 0;
}
#h2-1{
    opacity: 0.3;
    color: gray;
    font-size:15px;
    margin: 15px 0;
}

ul li {
    list-style: disc;
    font-size:15px;
}

#h2-4{
    padding-top:10px;
    color: lightblue;
}
.video-part{
    width:350px;
    height: 350px;;
    grid-area:video;
    display: flex;
    padding:15px;
    flex-direction:column;
    align-items: flex-start;
    font-size: 10px;
}

.main-4{
    grid-area:article2;
    border-bottom: 1px solid #6f6f6f;
    border-top: 1px solid #6f6f6f;
    border-right: 1px solid lightgray;
}

.main-4 h3{
    font-weight: bold;
    font-size:20px;

}
#h3-1{
    opacity: 0.3;
    color: gray;
    font-size:15px;
    margin: 15px 0;
}
.main-5{
    grid-area:article3;
    border-bottom: 1px solid #6f6f6f;
    border-top: 1px solid #6f6f6f;

}
.main-5 >h4{
    font-weight: bold;
    font-size:20px;
}

#h4-1{
    opacity: 0.3;
    color: gray;
    font-size:15px;
    margin: 15px 0;
}

.top-opinion{
    grid-area:opinions;
    border-bottom: 1px solid #6f6f6f;

}
.top-opinion > h1{
    font-weight:bold;
    font-size: 25px;
    padding:10px 0;
}

#oh1-1{
    opacity: 0.3;
    color: gray;
    font-size:15px;
    margin: 15px 0;
}

.top-opinion h2 {
    font-weight: bold;
    padding: 10px 0;
}

#oh2-2{
    padding-top:10px;
    color: lightblue;
    font-size:10px;
}

#operation-3{
    color: lightblue;
    font-size:10px;
}

.mid-opinion{
    grid-area:operation;
    border-bottom: 1px solid #6f6f6f;
    font-size:10px;

}

.mid-opinion *{
    padding: 10px;
}
.mid-opinion >h1{
    font-size: 15px;
    font-weight: bold;
}

.bottom-opinion{
    grid-area:multi-articles;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:
    "cell1 cell5"
    "cell2 cell6"
    "cell3 cell7"
    "cell4 cell7";
}


.bottom-opinion div{
    padding: 5px;
    border-bottom: 1px solid #6f6f6f;
    border-right: 1px solid #6f6f6f;


}

#p1{
    opacity: 0.3;
    color: gray;
    font-size:15px;
    margin: 15px 0;
}
#p2{
    font-weight:bold;
}

#bot-7{
    grid-area: cell7
}
